.sidebar {
    position: absolute;
    background-color: #fff;
    padding: 1em;
    min-height: 100vh;
    display: flex;
    transition: all 0.3s;
    flex-direction: column;
}

:where(.css-dev-only-do-not-override-1ck3jst).ant-divider-horizontal {
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
    margin: auto;
}

.open {
    transform: translateX(-100%);
}

.close {
    transform: translateX(0%);
}

.closedSidebarMenu {
    position: absolute;
    top: 80px;
}